listening-port=3478
tls-listening-port=5349
min-port=49160
max-port=49200

fingerprint
use-auth-secret
stale-nonce=600

no-dtls
no-tcp-relay
no-multicast-peers

user-quota=8
total-quota=1024
max-bps=4000000
bps-capacity=200000000

log-file=stdout
simple-log
new-log-timestamp
